<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LocalLoop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalLoop"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".features.auth.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.dashboard.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".features.favorfeed.FavorFeedActivity"
            android:exported="false" />

        <activity
            android:name=".features.favordetail.FavorDetailActivity"
            android:exported="false"
            android:parentActivityName=".features.favorfeed.FavorFeedActivity" />

        <activity
            android:name=".features.postfavor.PostFavorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".features.announcements.AnnouncementsActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"/>

        <activity
                    android:name=".features.myactivity.MyActivityActivity"
                    android:exported="false" />

    </application>

</manifest>